.navbar {
  @media #{$wide}{
    height: 189px;
    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres-2, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }
    #block-adres-2, #block-vremaraboty, #block-elpocta {img {height: 15px}}
    .logo {
      top: 0;
      left: 25px;
      img { height: 130px; }
    }
    #block-ltk-main-menu {
      top: 5px;
      left: 0;
      width: 100%;
      font-size: 25px;
      line-height: 25px;
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 8px;
          color: $green;
          &:hover{
            color: $white;
          }
        }
      }
    }
    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 15px;
      width: 100vw;
      text-align: center;
    }
    #block-sitename {
      top: 40px;
      left: 170px;
      h1{font-weight: 400}
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
    }
    #block-siteslogan {
      top: 110px;
      left: 168px;
      font-weight: 400;
      font-size: 17px;
      line-height: 17px;
    }
    #block-vremaraboty, #block-adres-2, #block-elpocta {
      right: 280px;
      font-size: 17px;
      line-height: 17px;
    }
    #block-vremaraboty {
      top: 42px;
    }
    #block-adres-2 {
      top: 67px;
    }
    #block-elpocta {
      top: 92px;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }
    #block-telephones {
      top: 16px;
      right: 32px;
      text-align: right;
      font-size: 25px;
      line-height: 25px;
    }
    #block-ltk-search {
      position: absolute;
      width: 265px;
      top: 150px;
      right: 10px;

      #search-block-form {
        bottom: -26px;
        position: absolute;
        width: 265px;
      }

      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 34px;
      }

      .btn-primary {
        color: #fff;
        height: 34px;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 8px;
        padding: 0 8px 0 8px;
      }
      .glyphicon-search {
        line-height: 34px;
        font-size: 17px;
      }
    }
    &.minimized {
      height: 50px;
      #block-telephones {
        p:nth-child(1){display: none}
        p:nth-child(3){display: none}
        top: 5px;
      }
      #block-elpocta {
        top: 5px;
        right: 280px;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        img {
          display: none;
        }
      }
      .logo {
        top: 5px;
        margin: 0;
        left: 5px;
        img {
          height: 30px;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres-2, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 5px;
        left: 84px;
      }
    }
  }
}

