.navbar {
  z-index: 100;
  height: 18vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background: $yellow;
  border: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  border-radius: 0px;
  margin-bottom: 0;
  border-bottom: 1px solid $green;

  .btn-primary {
    background-color: $yellow;
    border-color: $yellow;
    font-size: 5vh;
  }
  .logo, #block-uppertext{
    z-index: 100;
  }
  h1{
    margin: 0;
    padding: 0;
  ;
  }
}